h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: oblique;
    font-size: 75px;
}
nav {    
    color: black;     
    margin-right: 30px;     
    padding: inherit;     
    font-weight: bold;     
    background-color: black;    
    font-family: Georgia, 'Times New Roman', Times, serif;
};

#seal {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
};


